N8N workflow/archive/ITCWebApp_workflow (3).json
{
  "name": "ITCWebApp_workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://procurement-notices.undp.org/index.cfm",
        "responseFormat": "string",
        "dataPropertyName": "data1",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1320,
        -1640
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data1",
        "extractionValues": {
          "values": [
            {
              "key": "entete",
              "cssSelector": "body > table > tbody > tr:nth-child(1) > td.content > table > tbody > tr:nth-child(1) strong",
              "returnArray": true
            },
            {
              "key": "content",
              "cssSelector": "body > table > tbody > tr:nth-child(1) > td.content > table > tbody > tr:nth-child(1) ~ tr",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": "body > table > tbody > tr:nth-child(1) > td.content > table > tbody > tr:nth-child(1) ~ tr a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        -1640
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1900,
        -1500
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1900,
        -1720
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2220,
        -1620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://procurement-notices.undp.org/{{$node[\"Merge\"].json[\"url\"]}}"
            },
            {
              "name": "origin",
              "value": "https://procurement-notices.undp.org/index.cfm"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2500,
        -1620
      ]
    },
    {
      "parameters": {
        "url": "https://www.onu-tn.org/Appels-offres/",
        "responseFormat": "string",
        "dataPropertyName": "data4",
        "options": {}
      },
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        -560
      ]
    },
    {
      "parameters": {
        "url": "http://www.uemoa.int/fr/appels-doffres",
        "responseFormat": "string",
        "dataPropertyName": "data5",
        "options": {}
      },
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://www.ecobank.com/procurement",
        "responseFormat": "file",
        "dataPropertyName": "data7",
        "options": {}
      },
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://www.jaoguinee.com#",
        "responseFormat": "string",
        "dataPropertyName": "data8",
        "options": {}
      },
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1320,
        860
      ]
    },
    {
      "parameters": {
        "url": "https://www.bceao.int/fr/appels-offres/appels-offres-marches-publics-achats",
        "responseFormat": "string",
        "dataPropertyName": "data10",
        "options": {}
      },
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1320,
        1620
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".title",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".title > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1960,
        -1200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.somelec.mr{{$json[\"url\"]}}"
            },
            {
              "name": "origin",
              "value": "https://www.somelec.mr/?q=ap"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2780,
        -1240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2240,
        -1300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2240,
        -1140
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2560,
        -1240
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "result",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".tableBody > div",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".tableBody > div a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract3",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1360,
        -820
      ]
    },
    {
      "parameters": {
        "errorMessage": "Website is empty !"
      },
      "name": "Stop And Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1600,
        -560
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data5",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "#block-system-main > div > div > div > div > div > div > div > div",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".field-content > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract4",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1420,
        -200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=http://www.uemoa.int{{$node[\"Merge5\"].json[\"url\"]}}"
            },
            {
              "name": "origin",
              "value": "http://www.uemoa.int/fr/appels-doffres"
            }
          ]
        },
        "options": {}
      },
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2440,
        -240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists7",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1740,
        -360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists8",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1740,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2160,
        -240
      ]
    },
    {
      "parameters": {
        "errorMessage": "No see appel d'offre !"
      },
      "name": "Stop And Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1600,
        560
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data8",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".article-accueil",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".article-accueil a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract5",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1540,
        860
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists9",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1880,
        720
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists10",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1880,
        940
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2280,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.jaoguinee.com/{{$json[\"url\"]}}"
            },
            {
              "name": "origin",
              "value": "https://www.jaoguinee.com#"
            }
          ]
        },
        "options": {}
      },
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2500,
        800
      ]
    },
    {
      "parameters": {
        "functionCode": "let tablink = [\"https://224business.com/category/appels-doffres/\"]\nfor(var i = 2; i <= 3; i++)\n{\n  var ch = \"https://224business.com/category/appels-doffres/page/\" + i + \"/\"\n  tablink.push(ch)\n}\n\nreturn { \"lien\" : tablink };"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1300,
        1200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "lien",
        "options": {}
      },
      "name": "Item Lists11",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1560,
        1200
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Item Lists11\"].json[\"lien\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1840,
        1200
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "#tdi_66 > div h3 a",
              "returnValue": "value",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".entry-title.td-module-title a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract6",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        2060,
        1200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists12",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2280,
        1080
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists13",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2280,
        1280
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge9",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2600,
        1200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "origin",
              "value": "https://224business.net/?cat=3"
            }
          ]
        },
        "options": {}
      },
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2880,
        1200
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "data10",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "#block-medianet-content > div > div > header > div > .itemDoc.views-row",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": "#block-medianet-content > div > div > header > div > .itemDoc.views-row a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract7",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1540,
        1620
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists14",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1780,
        1480
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists15",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1780,
        1700
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge10",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2220,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "origin",
              "value": "https://www.bceao.int/fr/appels-offres/appels-offres-marches-publics-achats"
            }
          ]
        },
        "options": {}
      },
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2620,
        1640
      ]
    },
    {
      "parameters": {
        "path": "61cd2546-882f-4ea2-8cbc-eaf330daa8ea",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        -1640
      ],
      "webhookId": "61cd2546-882f-4ea2-8cbc-eaf330daa8ea"
    },
    {
      "parameters": {
        "path": "f067c9a7-92ce-4bf2-ace5-edc0f72acfe6",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        800,
        -1200
      ],
      "webhookId": "f067c9a7-92ce-4bf2-ace5-edc0f72acfe6"
    },
    {
      "parameters": {
        "path": "d132994e-73fa-47a1-b55c-99542bce6a66",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        920,
        860
      ],
      "webhookId": "d132994e-73fa-47a1-b55c-99542bce6a66"
    },
    {
      "parameters": {
        "path": "ef9df6d4-3c0e-43c4-a79b-62ffc6d35ae0",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site5",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        940,
        1200
      ],
      "webhookId": "ef9df6d4-3c0e-43c4-a79b-62ffc6d35ae0"
    },
    {
      "parameters": {
        "functionCode": "let tablink = [\"https://www.somelec.mr/?q=ap\"]\nfor(var i = 1; i <= 5; i++)\n{\n  var ch = \"https://www.somelec.mr/?q=ap&page=\" + i\n  tablink.push(ch)\n}\n\nreturn { \"lien\" : tablink };"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1140,
        -1200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "lien",
        "options": {}
      },
      "name": "Item Lists16",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1440,
        -1200
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Item Lists16\"].json[\"lien\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        -1200
      ]
    },
    {
      "parameters": {
        "functionCode": "const puppeteer = require('puppeteer');\n\nlet scraping = async () => {\n  //  Creation d'une instance du navigateur chromium\n  const browser = await puppeteer.launch();\n  const page = await browser.newPage();\n  // Navigation vers l'url cible\n  await page.goto('https://www.ungm.org/Public/Notice' , {waitUntil: \"networkidle2\"});\n  // Fonction pour scroller vers le bas\n  await scrollToBottom(page);\n  // Temps d'attente du resultat\n  let oneMinute = 1000 * 60 * 1 // une minute\n  await page.waitForTimeout(oneMinute);\n  // recuperation du resultat\n  let result = await page.$eval(\"*\", (elem => elem.innerHTML))\n  await browser.close();\n  return {result};\n};\nasync function scrollToBottom(page) {\n  const distance = 4000; // should be less than or equal to window.innerHeight\n  const delay = 4000;\n  while (await page.evaluate(() => document.scrollingElement.scrollTop + window.innerHeight < document.scrollingElement.scrollHeight)) {\n    await page.evaluate((y) => { document.scrollingElement.scrollBy(0, y); }, distance);\n    await page.waitForTimeout(delay);\n  }\n}\n// resultat final\nlet data = scraping()\n\nreturn data\n\n\n\n\n"
      },
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        -820
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1680,
        -960
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1680,
        -760
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2000,
        -860
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.ungm.org{{$node[\"Merge2\"].json[\"url\"]}}"
            },
            {
              "name": "origin",
              "value": "https://www.ungm.org/Public/Notice"
            }
          ]
        },
        "options": {}
      },
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2220,
        -860
      ]
    },
    {
      "parameters": {
        "content": "## Site 1\n**https://procurement-notices.undp.org/index.cfm**"
      },
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -1660
      ]
    },
    {
      "parameters": {
        "content": "## Site 2\n**https://www.somelec.mr/?q=ap**"
      },
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -1220
      ]
    },
    {
      "parameters": {
        "content": "## Site 3\n**https://www.ungm.org/Public/Notice**"
      },
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -840
      ]
    },
    {
      "parameters": {
        "content": "## Site 4\n**https://www.onu-tn.org/Appels-offres/**"
      },
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -560
      ]
    },
    {
      "parameters": {
        "path": "5dc32222-643d-4161-95cf-27ced39791e3",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site 3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        800,
        -820
      ],
      "webhookId": "5dc32222-643d-4161-95cf-27ced39791e3"
    },
    {
      "parameters": {
        "path": "ec7d5f46-87e8-46c1-8510-853bd606e30c",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Site 5",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        780,
        -200
      ],
      "webhookId": "ec7d5f46-87e8-46c1-8510-853bd606e30c"
    },
    {
      "parameters": {
        "content": "## Site 5\n**https://www.onu-tn.org/Appels-offres/**"
      },
      "name": "Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -220
      ]
    },
    {
      "parameters": {
        "content": "## Site 6\n**https://www.tuneps.tn/index.do**"
      },
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        140
      ]
    },
    {
      "parameters": {
        "path": "7eeb0916-4d24-424c-82a7-403ed1142ced",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "webhookId": "7eeb0916-4d24-424c-82a7-403ed1142ced"
    },
    {
      "parameters": {
        "content": "## Site 7\n**https://www.ecobank.com/procurement**"
      },
      "name": "Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Site 8\n**https://www.jaoguinee.com#**"
      },
      "name": "Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        820
      ]
    },
    {
      "parameters": {
        "functionCode": "const puppeteer = require('puppeteer');\n\n\nlet scraping = async () => {\n  const browser = await puppeteer.launch();\n  const page = await browser.newPage();\n  await page.goto('https://community.vortal.biz/public/?SkinName=conseileurope&Language=fr&AuthorityVat=77886008000010APE990Z&currentLanguage=fr' , {waitUntil: \"networkidle2\"});\n\n  let items = \"\";\n  let linkItems = \"\";\n  let lastPageNumber = 10; // number of page\n  // defined simple loop to iterate over number of catalogue pages\n  for (let index = 0; index < lastPageNumber; index++) {\n      // wait 40 sec for page load\n      await page.waitForTimeout(40000);\n      // call and wait extractedEvaluateCall and concatenate results every iteration.\n      items= items + await extractedEvaluateCall(page);\n      // get url of item in new tab and close new tab\n      for (var i = 2; i < 12; i++)\n      {\n        const pageTarget = page.target();\n        await page.click(\"div:nth-child(\"+ i +\") > .ant-card-body a\");\n        const newTarget = await browser.waitForTarget(target => target.opener() === pageTarget);\n        const newPage = await newTarget.page();\n        let url = await newPage.evaluate(() => document.location.href);\n        let separe = \"<p>\"+ url + \"</p>\";\n        linkItems = linkItems + separe;\n        await newPage.close()\n      }\n      if (index != lastPageNumber - 1) {\n          // Click on next button\n          await page.click('li.ant-pagination-next > a.ant-pagination-item-link');\n      }\n  }\n  await browser.close();\n  return {\"items\": items, \"linkItems\": linkItems};\n};\n// funtion to extract data\nasync function extractedEvaluateCall(page) {\n  return page.evaluate(() => {\n      let data = \"\";\n      let elements = document.querySelector('*');\n      data = data + elements.innerHTML;\n      return data;\n  });\n}\n\n// resultat final\nlet data = scraping()\n\nreturn data\n\n\n\n"
      },
      "name": "Function3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1240,
        2020
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "items",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".ant-card-body",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract2",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1540,
        1940
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1860,
        1940
      ]
    },
    {
      "parameters": {
        "content": "## Site 9\n**https://224business.com/category/appels-doffres/**"
      },
      "name": "Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1160
      ]
    },
    {
      "parameters": {
        "content": "## Site 10\n**https://www.bceao.int/fr/appels-offres/appels-offres-marches-publics-achats**"
      },
      "name": "Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1580
      ]
    },
    {
      "parameters": {
        "content": "## Site 11\n**https://community.vortal.biz/public/?SkinName=conseileurope&Language=fr&AuthorityVat=77886008000010APE990Z&currentLanguage=fr**"
      },
      "name": "Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1980
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "linkItems",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": "p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract8",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1540,
        2120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "name": "Item Lists17",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1860,
        2100
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge11",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2180,
        2040
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "origin",
              "value": "https://community.vortal.biz/public/?SkinName=conseileurope&Language=fr&AuthorityVat=77886008000010APE990Z&currentLanguage=fr"
            }
          ]
        },
        "options": {}
      },
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2520,
        2040
      ]
    },
    {
      "parameters": {
        "path": "882e2848-e765-4890-8f3d-8daf76a6b440",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        920,
        2020
      ],
      "webhookId": "882e2848-e765-4890-8f3d-8daf76a6b440"
    },
    {
      "parameters": {
        "path": "e194db08-b867-442d-bfa1-5bb2f89137e9",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "webhooks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        940,
        1620
      ],
      "webhookId": "e194db08-b867-442d-bfa1-5bb2f89137e9"
    },
    {
      "parameters": {
        "functionCode": "const puppeteer = require('puppeteer');\nvar he = require('he');\n\n\n\nlet scraping = async () => {\n  const browser = await puppeteer.launch();\n  // tab for receive access blocked\n  const page = await browser.newPage();\n  await page.goto(\"https://www.tuneps.tn:450/sp/consultation/moveSpConsultationSupplier.do?menuId=SP01230200&amp;leftTopFlag=t\");\n  // tab for get data\n  const page2 = await browser.newPage();\n  await page2.goto(\"https://www.tuneps.tn:450/sp/consultation/moveSpConsultationSupplier.do?menuId=SP01230200&amp;leftTopFlag=t\");\n  // time wait\n  await page2.waitForTimeout(5000)\n  const frame = await page2.frames().find(frame => frame.name() === 'SpConsultationSupplierFrame');\n  let result = \"\"\n  var lastPageNumber = 10; // number of page\n  // pagination cont\n  let cont = 5\n  for (let index = 0; index <= lastPageNumber; index++) {\n      // wait 5 sec for page load\n      await page2.waitForTimeout(5000);\n      // get data fro frame\n      let temp = String(await page2.evaluate(() => document.getElementsByTagName(\"iframe\")[0].contentDocument.documentElement.innerHTML));\n      result = result + temp;\n      \n      //results = results + await extractedEvaluateCall(page);\n      // this is where next button on page clicked to jump to another page\n      if (index != lastPageNumber - 1) {\n          // next page\n          let ch = \"#frameDiv > div > div > ul > li:nth-child(\"+ cont +\")\";\n          await frame.click(ch);\n          cont = cont + 1\n      }\n  }\n  let items = he.decode(result)\n  await browser.close();\n  return {items};\n  };\n\n\n  // resultat final\nlet data = scraping()\n\nreturn data"
      },
      "name": "Function4",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1240,
        180
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "items",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "tr",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract9",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "name": "Item Lists18",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1880,
        180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://www.tuneps.tn:450/sp/consultation/moveSpConsultationSupplier.do?menuId=SP01230200&amp;leftTopFlag=t"
            },
            {
              "name": "origin",
              "value": "https://www.tuneps.tn/index.do"
            }
          ]
        },
        "options": {}
      },
      "name": "Set8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2200,
        180
      ]
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract3": {
      "main": [
        [
          {
            "node": "Item Lists5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTML Extract4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTML Extract5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTML Extract6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTML Extract7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract4": {
      "main": [
        [
          {
            "node": "Item Lists7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists7": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Stop And Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract5": {
      "main": [
        [
          {
            "node": "Item Lists9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists9": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists10": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML Extract6": {
      "main": [
        [
          {
            "node": "Item Lists12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists12": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists13": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists15": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists14": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract7": {
      "main": [
        [
          {
            "node": "Item Lists14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Item Lists11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists11": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Stop And Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site5": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Item Lists16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists16": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "HTML Extract3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site 3": {
      "main": [
        [
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site 5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function3": {
      "main": [
        [
          {
            "node": "HTML Extract2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Extract8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract2": {
      "main": [
        [
          {
            "node": "Item Lists6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract8": {
      "main": [
        [
          {
            "node": "Item Lists17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists6": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists17": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Function3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhooks": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function4": {
      "main": [
        [
          {
            "node": "HTML Extract9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract9": {
      "main": [
        [
          {
            "node": "Item Lists18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists18": {
      "main": [
        [
          {
            "node": "Set8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Function4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 1
}